pipeline/ABS_CustomerLevelModular.json
{
	"name": "ABS_CustomerLevelModular",
	"properties": {
		"activities": [
			{
				"name": "authenticate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"additionalHeaders": {
								"value": "@{Concat(\n'Content-Type: ', 'application/x-www-form-urlencoded')}",
								"type": "Expression"
							},
							"requestBody": {
								"value": "@{concat(pipeline().parameters.authRequestBody1,pipeline().parameters.username,pipeline().parameters.authRequestBody2,pipeline().parameters.password,pipeline().parameters.authRequestBody3)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ABSApAuthenticateUser",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": "@pipeline().parameters.relativeURLauth"
						}
					}
				}
			},
			{
				"name": "getCustomerMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT *\nFROM [master_tables].[SOURCE]\nWHERE CUSTOMER_ID =', pipeline().parameters.cId)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_LOOPS_COMPONENT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "authenticate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getCustomerMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getCustomerMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "GeneralComAp",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GeneralComAp",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourceValueGuid": {
										"value": "@item().SOURCE_COMPONENT_ID",
										"type": "Expression"
									},
									"sectorName": {
										"value": "@item().SECTOR_NAME",
										"type": "Expression"
									},
									"cId": {
										"value": "@pipeline().parameters.cId",
										"type": "Expression"
									},
									"componentId": {
										"value": "@item().COMPONENT_ID",
										"type": "Expression"
									},
									"MyWindowInitialStart": {
										"value": "@pipeline().parameters.MyWindowInitialStart",
										"type": "Expression"
									},
									"customerName": {
										"value": "@item().CUSTOMER_NAME",
										"type": "Expression"
									},
									"applicationToken": {
										"value": "@activity('authenticate').output.firstRow.applicationToken",
										"type": "Expression"
									},
									"comApKey": {
										"value": "@pipeline().parameters.ComapKey",
										"type": "Expression"
									},
									"sourceUnitGuid": {
										"value": "@item().SOURCE_API_ID",
										"type": "Expression"
									},
									"sourceType": {
										"value": "@item().SOURCE_TYPE_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"username": {
				"type": "string",
				"defaultValue": "m.dekiewit@shell.com"
			},
			"password": {
				"type": "string",
				"defaultValue": "D8.KCQgZVB"
			},
			"ComapKey": {
				"type": "string"
			},
			"relativeURLauth": {
				"type": "string",
				"defaultValue": "token"
			},
			"relativeURLunits": {
				"type": "string",
				"defaultValue": "units"
			},
			"cId": {
				"type": "string",
				"defaultValue": "39923"
			},
			"MyWindowInitialStart": {
				"type": "string",
				"defaultValue": "2020-03-02T00:00:00Z"
			},
			"authRequestBody1": {
				"type": "string",
				"defaultValue": "{\"username\":\""
			},
			"authRequestBody2": {
				"type": "string",
				"defaultValue": "\",\"password\":\""
			},
			"authRequestBody3": {
				"type": "string",
				"defaultValue": "\" }"
			}
		},
		"folder": {
			"name": "ABServices"
		},
		"annotations": [],
		"lastPublishTime": "2020-06-18T14:55:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}