pipeline/BakerHughes.json
{
	"name": "BakerHughes",
	"properties": {
		"activities": [
			{
				"name": "getLastTimestamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[readLastTimestamp]",
						"storedProcedureParameters": {
							"COMPONENT_ID": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.COMPONENT_ID",
									"type": "Expression"
								}
							},
							"JOB_NAME": {
								"type": "String",
								"value": {
									"value": "@concat('compAp_Id',pipeline().parameters.COMPONENT_ID,'_json')",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "loopsSQLloadManagement",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ifFirstRequest",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "getLastTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(contains(activity('getLastTimestamp').output,'firstRow'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "startedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(activity('getLastTimestamp').output.firstRow.lastTimestamp, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "STARTED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "completedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "RegularRequest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(activity('getLastTimestamp').output.firstRow.lastTimestamp, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "COMPLETED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "failedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "RegularRequest",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(activity('getLastTimestamp').output.firstRow.lastTimestamp, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "FAILED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "RegularRequest",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "startedSQLwrite",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010"
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BakerHughesServices",
									"type": "DatasetReference",
									"parameters": {
										"SOURCE_COMPONENT_ID": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"relativeURL": "company/",
										"pageSize": "1",
										"withTotalPages": "true",
										"MyWindowStart": {
											"value": "@formatDateTime(activity('getLastTimestamp').output.firstRow.lastTimestamp, 'yyyy-MM-dd HH:mm:ss')",
											"type": "Expression"
										},
										"MyWindowEnd": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss') ",
											"type": "Expression"
										},
										"CUSTOMER_NAME": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"SOURCE_API_ID": {
											"value": "@pipeline().parameters.SOURCE_API_ID",
											"type": "Expression"
										},
										"applicationToken": {
											"value": "@pipeline().parameters.applicationToken",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakecomAp",
									"type": "DatasetReference",
									"parameters": {
										"componentId": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"MyWindowStart": {
											"value": "@formatDateTime(activity('getLastTimestamp').output.firstRow.lastTimestamp, 'yyyy-MM-ddTHH:mm:ss.FFFFFFZ')",
											"type": "Expression"
										},
										"MyWindowEnd": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH:mm:ss.FFFFFFZ')",
											"type": "Expression"
										},
										"cId": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"sectorName": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"sourceType": {
											"value": "@pipeline().parameters.SOURCE_TYPE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "firstStartedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(pipeline().parameters.MyWindowInitialStart, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "STARTED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "firstCompletedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "firstRequest",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(pipeline().parameters.MyWindowInitialStart, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "COMPLETED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "firstFailedSQLwrite",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "firstRequest",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[logCumulocityRequest]",
								"storedProcedureParameters": {
									"COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_ID": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CUSTOMER_NAME": {
										"value": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE_TEXT": {
										"value": null,
										"type": "String"
									},
									"ERROR_TYPE_NAME": {
										"value": null,
										"type": "String"
									},
									"FILE_NAME": {
										"value": {
											"value": "@concat('Id',pipeline().parameters.COMPONENT_ID,'_From',formatDateTime(pipeline().parameters.MyWindowInitialStart, 'yyyy-MM-ddTHH.mm.ss'),'_To',formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH.mm.ss'),'.json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_NAME": {
										"value": {
											"value": "@concat(pipeline().parameters.CUSTOMER_NAME,'_',pipeline().parameters.COMPONENT_ID,'_json')",
											"type": "Expression"
										},
										"type": "String"
									},
									"JOB_STATUS": {
										"value": "FAILED",
										"type": "String"
									},
									"LAST_PROCESSED_RECORD_DATE_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"MAX_RUNNING_HOURS_DURATION": {
										"value": null,
										"type": "Single"
									},
									"RECORD_COUNT": {
										"value": null,
										"type": "Int64"
									},
									"SECTOR_NAME": {
										"value": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_COMPONENT_ID": {
										"value": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"START_TIME": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss.FFF')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TOP_UP_SECONDS_DURATION": {
										"value": null,
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loopsSQLbackend",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "firstRequest",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "firstStartedSQLwrite",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010"
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BakerHughesServices",
									"type": "DatasetReference",
									"parameters": {
										"SOURCE_COMPONENT_ID": {
											"value": "@pipeline().parameters.SOURCE_COMPONENT_ID",
											"type": "Expression"
										},
										"relativeURL": "company/",
										"pageSize": "1",
										"withTotalPages": "true",
										"MyWindowStart": {
											"value": "@pipeline().parameters.MyWindowInitialStart",
											"type": "Expression"
										},
										"MyWindowEnd": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd HH:mm:ss') ",
											"type": "Expression"
										},
										"CUSTOMER_NAME": {
											"value": "@pipeline().parameters.CUSTOMER_NAME",
											"type": "Expression"
										},
										"SOURCE_API_ID": {
											"value": "@pipeline().parameters.SOURCE_API_ID",
											"type": "Expression"
										},
										"applicationToken": {
											"value": "@pipeline().parameters.applicationToken",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakecomAp",
									"type": "DatasetReference",
									"parameters": {
										"componentId": {
											"value": "@pipeline().parameters.COMPONENT_ID",
											"type": "Expression"
										},
										"MyWindowStart": {
											"value": "@formatDateTime(pipeline().parameters.MyWindowInitialStart, 'yyyy-MM-ddTHH:mm:ss.FFFFFFZ')",
											"type": "Expression"
										},
										"MyWindowEnd": {
											"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH:mm:ss.FFFFFFZ')",
											"type": "Expression"
										},
										"cId": {
											"value": "@pipeline().parameters.CUSTOMER_ID",
											"type": "Expression"
										},
										"sectorName": {
											"value": "@pipeline().parameters.SECTOR_NAME",
											"type": "Expression"
										},
										"sourceType": {
											"value": "@pipeline().parameters.SOURCE_TYPE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SOURCE_COMPONENT_ID": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"SOURCE_TYPE_NAME": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"COMPONENT_ID": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"CUSTOMER_ID": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"SECTOR_NAME": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"CUSTOMER_NAME": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"SOURCE_API_ID": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"applicationToken": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"MyWindowInitialStart": {
				"type": "string",
				"defaultValue": "Define on parent level"
			},
			"relativeURL": {
				"type": "string",
				"defaultValue": "Define on parent level"
			}
		},
		"folder": {
			"name": "BakerHughes"
		},
		"annotations": [],
		"lastPublishTime": "2020-07-24T16:47:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}