pipeline/Ortadogu_EMS_1_Multi_Threaded.json
{
	"name": "Ortadogu_EMS_1_Multi_Threaded",
	"properties": {
		"activities": [
			{
				"name": "ComponentLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COMPONENT_ID  FROM [master_tables].[LOOPS_COMPONENT] where CUSTOMER_ID=25551",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_LOOPS_COMPONENT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadForEachComponent",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ComponentLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ComponentLookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "FileIngest_EMS_1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/LOOPS_DevOps/Power/Ortadogu/job_ems_ortadogu_csv 1s",
								"baseParameters": {
									"component_id": {
										"value": "@string(item().component_id)",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "loops_standard_connection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ortadogu"
		},
		"annotations": [],
		"lastPublishTime": "2020-02-04T14:09:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}