pipeline/TEST_Ortadogu_CustomerLevelModular.json
{
	"name": "TEST_Ortadogu_CustomerLevelModular",
	"properties": {
		"activities": [
			{
				"name": "getCustomerMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT COMPONENT_ID, SOURCE_COMPONENT_ID, SECTOR_NAME, CUSTOMER_NAME\nFROM [master_tables].[SOURCE]\nWHERE CUSTOMER_ID =', pipeline().parameters.cId)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_LOOPS_COMPONENT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getCustomerMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getCustomerMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "TEST_GeneralCumulocity",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TEST_GeneralCumulocity",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source": {
										"value": "@item().SOURCE_COMPONENT_ID",
										"type": "Expression"
									},
									"sectorName": {
										"value": "@item().SECTOR_NAME",
										"type": "Expression"
									},
									"cId": {
										"value": "@pipeline().parameters.cId",
										"type": "Expression"
									},
									"relativeURL": "/measurement/measurements",
									"withTotalPages": "true",
									"pageSize": "2000",
									"componentId": {
										"value": "@item().COMPONENT_ID",
										"type": "Expression"
									},
									"MyWindowInitialStart": {
										"value": "@pipeline().parameters.MyWindowInitialStart",
										"type": "Expression"
									},
									"customerName": {
										"value": "@item().CUSTOMER_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cId": {
				"type": "string",
				"defaultValue": "25551"
			},
			"MyWindowInitialStart": {
				"type": "string",
				"defaultValue": "2020-05-01T15:00:00Z"
			}
		},
		"folder": {
			"name": "TESTs"
		},
		"annotations": [],
		"lastPublishTime": "2020-05-01T15:58:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}